name: Formatting check
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  formatting-check:
    name: Formatting Check
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v3
    - name: Run clang-format
      uses: jidicula/clang-format-action@v4.11.0
      with:
        exclude-regex: (libspirv|3rdparty)
