name: Linting
on:
  pull_request:
jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - name: Check out repo
      uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Run clang-tidy
      uses: ZedThree/clang-tidy-review@v0.19.0
      id: review
      with:
        clang_tidy_version: 18
        apt_packages: libunwind-dev, libglfw3-dev, libvulkan-dev, vulkan-validationlayers-dev, spirv-tools, glslang-tools, libspirv-cross-c-shared-dev
        cmake_command: cmake . -DCMAKE_EXPORT_COMPILE_COMMANDS=on
        split_workflow: true
    - name: Upload review
      uses: ZedThree/clang-tidy-review/upload@v0.19.0
      id: upload-review
